/* search form */
.searchform-navbar {
    display: flex !important;
    align-items: center;
    flex-grow: 1; 
    margin-right: 15px;
    margin-left: auto; 
    margin-top: 8px;
    padding: 0;
}

.searchform-navbar .input-group {
    display: flex;
    width: 100%; 
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.searchform-navbar .form-control {
    border: none;
    box-shadow: none;
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
}

.searchform-navbar .form-control::placeholder {
    color: #999;
    position: relative;
    top: 1px; /* center align the placeholder text */
}

/* magnifying glass button */
.searchform-navbar .input-group-append {
    display: flex;
    align-items: center;
    padding: 3px; 
}

.searchform-navbar .input-group-append .btn-submit {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px; /* circle width */
    height: 35px; /* circle height */
    background-color: #0000ff; 
    margin-right: 2px;
}

.searchform-navbar .input-group-append .btn-submit .icon {
    color: #ffffff;
    font-size: 16px;
}

/* hide the close button (X) */
.searchform-navbar .btn-close {
    display: none;
}

